<html>
<head>
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">-->
    <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsenui.css">
    <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsen-css-components.min.css">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/onsenui/js/onsenui.min.js"></script>
    <script src="https://unpkg.com/vue-onsenui@2.6.1/dist/vue-onsenui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>


</head>
<body>
<style>
    ul, ol, li {
        list-style: none;
        display: inline-block;
        padding: 0;
        margin: 0;
    }

    ul {
        width: 100%;
        margin: 0;
        padding: 0;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: flex;
        -webkit-box-lines: multiple;
        -moz-box-lines: multiple;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    ul li {
        border: 1px solid red;
        width: 33%;
        background: #ddd;
        list-style: none;
        padding-bottom: 65px;
        margin-bottom: 0;
        position: relative;
    }

    ul li:first-child {
    }

    ul li img {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .person {
        padding: 10px;
    }

    .button {
        margin: 20px auto;
    }
</style>
<template id="main-page">
    <v-ons-page>
        <v-ons-toolbar>
            <div class="center">あなたのお気に入り女優を探せ</div>
        </v-ons-toolbar>

        <p style="text-align: center">
            <v-ons-list>
                <v-ons-list-item>
                    最小バスト:
                    <v-ons-row>
                        <v-ons-col width="40px" style="text-align: center; line-height: 31px;">
                            <v-ons-icon icon="fa-heart"></v-ons-icon>
                        </v-ons-col>
                        <v-ons-col>
                            <v-ons-range v-model="gte_bust" style="width: 100%;" min="1" max="150"></v-ons-range>
                        </v-ons-col>
                        <v-ons-col width="40px" style="text-align: center; line-height: 31px;">
                            <v-ons-icon icon="fa-heart"></v-ons-icon>
                        </v-ons-col>
                    </v-ons-row>
                    最小バスト: {{ gte_bust }} <span v-show="Number(gte_bust) > 80">&nbsp;(大きいのがお好きですか?)</span>
                </v-ons-list-item>
            </v-ons-list>
            <v-ons-list>
                <v-ons-list-item>
                    最大バスト:
                    <v-ons-row>
                        <v-ons-col width="40px" style="text-align: center; line-height: 31px;">
                            <v-ons-icon icon="fa-heart"></v-ons-icon>
                        </v-ons-col>
                        <v-ons-col>
                            <v-ons-range v-model="lte_bust" style="width: 100%;" min="1" max="150"></v-ons-range>
                        </v-ons-col>
                        <v-ons-col width="40px" style="text-align: center; line-height: 31px;">
                            <v-ons-icon icon="fa-heart"></v-ons-icon>
                        </v-ons-col>
                    </v-ons-row>
                    最大バスト: {{ lte_bust }} <span v-show="Number(lte_bust) < 60">&nbsp;(ちっぱいがお好きですか?)</span>
                </v-ons-list-item>
            </v-ons-list>

            <v-ons-list>
                <v-ons-list-item>
                    最小ウエスト:
                    <v-ons-row>
                        <v-ons-col width="40px" style="text-align: center; line-height: 31px;">
                            <v-ons-icon icon="fa-heart"></v-ons-icon>
                        </v-ons-col>
                        <v-ons-col>
                            <v-ons-range v-model="gte_waist" style="width: 100%;" min="1" max="150"></v-ons-range>
                        </v-ons-col>
                        <v-ons-col width="40px" style="text-align: center; line-height: 31px;">
                            <v-ons-icon icon="fa-heart"></v-ons-icon>
                        </v-ons-col>
                    </v-ons-row>
                    最小ウエスト: {{ gte_waist }} <span v-show="Number(gte_waist) < 60">&nbsp;(細身がお好きですか?)</span>
                </v-ons-list-item>
            </v-ons-list>

            <v-ons-list>
                <v-ons-list-item>
                    最大ウエスト:
                    <v-ons-row>
                        <v-ons-col width="40px" style="text-align: center; line-height: 31px;">
                            <v-ons-icon icon="fa-heart"></v-ons-icon>
                        </v-ons-col>
                        <v-ons-col>
                            <v-ons-range v-model="lte_waist" style="width: 100%;" min="1" max="150"></v-ons-range>
                        </v-ons-col>
                        <v-ons-col width="40px" style="text-align: center; line-height: 31px;">
                            <v-ons-icon icon="fa-heart"></v-ons-icon>
                        </v-ons-col>
                    </v-ons-row>
                    最大ウエスト: {{ lte_waist }} <span v-show="Number(lte_waist) > 80">&nbsp;(ぽっちゃりがお好きですか?)</span>
                </v-ons-list-item>
            </v-ons-list>

            <v-ons-list>
                <v-ons-list-item>
                    最小身長:
                    <v-ons-row>
                        <v-ons-col width="40px" style="text-align: center; line-height: 31px;">
                            <v-ons-icon icon="fa-heart"></v-ons-icon>
                        </v-ons-col>
                        <v-ons-col>
                            <v-ons-range v-model="gte_height" style="width: 100%;" min="130" max="200"></v-ons-range>
                        </v-ons-col>
                        <v-ons-col width="40px" style="text-align: center; line-height: 31px;">
                            <v-ons-icon icon="fa-heart"></v-ons-icon>
                        </v-ons-col>
                    </v-ons-row>
                    最小身長: {{ gte_height }} cm以上<span v-show="Number(gte_height) > 170">&nbsp;(高いのがお好きですか?)</span>
                </v-ons-list-item>
            </v-ons-list>

            <v-ons-list>
                <v-ons-list-item>
                    最大身長:
                    <v-ons-row>
                        <v-ons-col width="40px" style="text-align: center; line-height: 31px;">
                            <v-ons-icon icon="fa-heart"></v-ons-icon>
                        </v-ons-col>
                        <v-ons-col>
                            <v-ons-range v-model="lte_height" style="width: 100%;" min="130" max="200"></v-ons-range>
                        </v-ons-col>
                        <v-ons-col width="40px" style="text-align: center; line-height: 31px;">
                            <v-ons-icon icon="fa-heart"></v-ons-icon>
                        </v-ons-col>
                    </v-ons-row>
                    最大身長: {{ lte_height }} 以下<span v-show="Number(lte_height) < 150">&nbsp;(ちっちゃいのがお好きですか?)</span>
                </v-ons-list-item>
            </v-ons-list>


            <v-ons-list>
                <v-ons-list-item>
                    <span style="margin: 0 20px 0 0;">並び順:  </span>
                        <v-ons-select style="width: 40%" v-model="select_sort">
                            <option v-for="sort in sorts" :value="sort.value">
                                {{ sort.text }}
                            </option>
                        </v-ons-select>
                </v-ons-list-item>
            </v-ons-list>


            <v-ons-button class="button" @click="get_ajax">
                お気に入りをGet!!
            </v-ons-button>
        </p>


        <ul>
            <li v-if="actor.imageURL" v-for="actor in search_list">
                <div class="person">
                    <p>{{ actor.name }}</p>
                    <p>身長:{{ actor.height }}</p>
                    <p>カップ:{{ actor.cup }}</p>
                    <p>ウエスト:{{ actor.waist }}</p>
                    <p>生年月日:{{ actor.birthday }}</p>
                    <a :href="actor.listURL.digital" target="_blank">
                        <img :src="actor.imageURL.large" width="90%"/>
                    </a>
                </div>
            </li>
        </ul>
    </v-ons-page>
</template>

<div id="app">
</div>

<script>
    var app = new Vue({
        el: '#app',
        template: '#main-page',
        data() {
            return {
                search_list: [],
                gte_bust: 60,
                lte_bust: 80,
                gte_waist: 60,
                lte_waist: 80,
                gte_height: 140,
                lte_height: 170,

                select_sort: "bust",
                sorts: [
                    {text: 'バスト小さい', value: 'bust'},
                    {text: 'バスト大きい', value: '-bust'},
                    {text: 'ウエスト細い', value: 'waist'},
                    {text: 'ウエスト太い', value: '-waist'},
                    {text: 'ヒップ小さい', value: 'hip'},
                    {text: 'ヒップ大きい', value: '-hip'},
                    {text: '身長小さい', value: 'height'},
                    {text: '身長高い', value: '-height'},
                    {text: '年齢高い', value: 'birthday'},
                    {text: '年齢若い', value: '-birthday'},
                ],
            };
        },
        methods: {
            // Ajax通信でJsonを取得し、特定のプロパティに格納する
            // 取得したら GET_AJAX_COMPLETE で通知する
            get_ajax() {
                const query = 'https://api.dmm.com/affiliate/v3/ActressSearch?' +
                    'api_id=2mLBN0mJftDz0tULQCWp' +
                    '&affiliate_id=dmmasialike-998' +
                    '&gte_bust=' + this.gte_bust +
                    '&lte_bust=' + this.lte_bust +
                    '&gte_waist=' + this.gte_waist +
                    '&lte_waist=' + this.lte_waist +
                    '&gte_height=' + this.gte_height +
                    '&lte_height=' + this.lte_height +
                    '&sort=' + this.select_sort +
                    '&hits=100' +
                    '&output=json';
                console.log(query);
                axios
                    .get(query)
                    .then(response => {
                        console.log(response.data.result.actress);
                        this.search_list = response.data.result.actress
                    })
            }
        }
    });
</script>
</body>
</html>
